/* styles/ReportList.module.css */
.report {
  padding: 10px;
  background-color: #313131;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.reportTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
}

.reportItem {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.reportItem:last-child {
  margin-bottom: 0;
}

.scrollableList {
  max-height: 160px; /* 원하는 높이로 설정 */
  overflow-y: auto;
}
