.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.mobileContainer {
  width: 375px; /* 모바일 화면 너비 설정 */
  height: auto;
  max-height: 90vh; /* 최대 높이를 설정하여 내용이 넘치지 않도록 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
}

/* 스크롤바 숨기기 */
.mobileContainer::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: #a3d133;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px; /* 글씨 크기를 작게 조정 */
  font-weight: bold;
  color: white;
}

.backButton {
  font-size: 16px; /* 글씨 크기를 작게 조정 */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.title2 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.title {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
  text-align: left;
  padding-left: 20px;
}

.content {
  padding: 20px;
  text-align: center;
}

.qrCode {
  width: 135px;
  height: 135px;
  border: 3px solid #a94442; /* 빨간색 보더 */
  background-color: #f8d7da; /* 연한 빨간색 배경 */
  margin-bottom: 20px;
}

.qrUrl {
  font-size: 12px;
  background-color: #f2dede;
  padding: 10px; /* 내용과 배경 사이에 패딩을 추가 */
  border-radius: 4px; /* 둥근 모서리 */
  color: #a94442; /* 텍스트 색상을 빨간색으로 */
}

.warning {
  font-size: 12px;
  color: #a94442;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warningIcon {
  margin-right: 5px;
}

.infoContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.infoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.infoHeaderIcon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.infoHeaderText {
  font-size: 18px;
  font-weight: bold;
}

.qrCodeContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.qrCodeIcon {
  width: 97px;
  height: 97px;
}

.infoDetail {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 30px;
}

.detailLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.detailValue {
  font-size: 16px;
}

.retryButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a3d133;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
