.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #a3d133;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.backButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.scanButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #a3d133;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.scanButton:hover {
  background-color: #8bb029;
}

.instruction {
  bottom: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.8); /* 배경색을 반투명으로 설정 */
  color: #000;
}

.result {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.Scan_header__kB9Ik {
  padding: 0;
}

.Scan_content__TQUQN {
  width: 100%;
}

.qrReader {
  width: 100%;
  position: relative;
}

/* .qrOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  border: 2px solid white;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} */